logs/
output/
.vscode/
coverage.txt
.DS_Store
*.log
*.gok
*.bak
*.out
*.key
*.enc
*.sss
UTC--*
*/build/
bak*
docs/*
gateway
conf/config.toml
*.toml
docs/docs.go
docs/swagger.json
docs/swagger.yaml
go.sum
conf/config.toml
.idea/
cmd/initer/conf/list.csv
*list.csv
*/list.csv
build/live_deploy/
*build/live_deploy*
*build/*